/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.main-content {
  padding: 20px;
}

.loader {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(82, 77, 77, 0.8);
  padding: 15px;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 4px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.controls {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
}

.gallery-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.gallery-item .info {
  padding: 10px;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery-item .info p {
  margin: 0;
  line-height: 1.4;
}

.gallery-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.info p strong {
  color: #555;
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    gap: 15px;
  }

  .search-input {
    width: 100%;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
